@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Outfit&family=Roboto&display=swap");

:root {
  --color-1: #ffffff;
  --color-2: #fff5f5;
  --color-3: #1e1e1e;
  --color-4: rgba(0, 0, 0, 0.7);
  --color-5: #000000;
  /* --color-6: ;
  --color-7: ;
  --color-8: ; */
}

body {
  font-family: "Lobster", cursive;
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
